<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello,大家好</h1>
    <div>
        你是<%= count%>号注册用户
    </div>
    <a href="/secondPage">跳转到第二页</a>
</body>
</html>